In [11]:
import numpy as np
import pandas as pd

data= pd.read_csv("C:/Users/saksh/Desktop/Personal Projects/Mental Health/finaldata.csv",header=0)

In [12]:
data.head()

,header,Age,treatment,no_employees,remote_work,leave,Gender_bin,family_hist_cat,self_employed_cat,tech_company_cat,...,anonymity_cat,mental_health_consequence_cat,phys_health_consequence_cat,coworkers_cat,supervisor_cat,mental_health_interview_cat,phys_health_interview_cat,mental_vs_physical_cat,obs_consequence_cat,work_interfere_cat
0,0,37,1,2,0,2,Female,0,1,1,...,2,0,0,1,2,0,1,2,0,1
1,1,44,0,7,0,0,Male,0,1,0,...,1,1,0,0,0,0,0,1,0,2
2,2,32,0,2,0,3,Male,0,1,1,...,1,0,0,2,2,2,2,0,0,2
3,3,31,1,3,0,3,Male,1,1,1,...,0,2,2,1,0,1,1,0,1,1
4,4,31,0,5,1,0,Male,0,1,1,...,1,0,0,1,2,2,2,1,0,0

In [13]:
data["Gender_bin"] = data["Gender_bin"].astype('category')
data["Gender_bin_cat"] = data["Gender_bin"].cat.codes

In [14]:
data=data.drop(['Gender_bin'], axis=1)

In [15]:
columns=list(data.columns)
print(columns)

['header', 'Age', 'treatment', 'no_employees', 'remote_work', 'leave', 'family_hist_cat', 'self_employed_cat', 'tech_company_cat', 'benefits_cat', 'care_options_cat', 'wellness_program_cat', 'seek_help_cat', 'anonymity_cat', 'mental_health_consequence_cat', 'phys_health_consequence_cat', 'coworkers_cat', 'supervisor_cat', 'mental_health_interview_cat', 'phys_health_interview_cat', 'mental_vs_physical_cat', 'obs_consequence_cat', 'work_interfere_cat', 'Gender_bin_cat']

In [61]:
data_y=data.loc[:,"treatment"]
data_X=data.drop(["treatment","header"],axis=1)

In [62]:
data_X.head()

,Age,no_employees,remote_work,leave,family_hist_cat,self_employed_cat,tech_company_cat,benefits_cat,care_options_cat,wellness_program_cat,...,mental_health_consequence_cat,phys_health_consequence_cat,coworkers_cat,supervisor_cat,mental_health_interview_cat,phys_health_interview_cat,mental_vs_physical_cat,obs_consequence_cat,work_interfere_cat,Gender_bin_cat
0,37,2,0,2,0,1,1,2,1,0,...,0,0,1,2,0,1,2,0,1,0
1,44,7,0,0,0,1,0,1,0,1,...,1,0,0,0,0,0,1,0,2,1
2,32,2,0,3,0,1,1,0,0,0,...,0,0,2,2,2,2,0,0,2,1
3,31,3,0,3,1,1,1,0,2,0,...,2,2,1,0,1,1,0,1,1,1
4,31,5,1,0,0,1,1,2,0,1,...,0,0,1,2,2,2,1,0,0,1

In [63]:
data_y.head()

0    1
1    0
2    0
3    1
4    0
Name: treatment, dtype: int64

In [64]:
X=data_X.values
Y=data_y.values

In [70]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder

<class 'pandas.core.arrays.categorical.Categorical'>

In [75]:
train_X, test_X, train_y, test_y = train_test_split(data_X, data_y, random_state=1)

In [81]:
classifier = AdaBoostClassifier(
    DecisionTreeClassifier(max_depth=1),
    n_estimators=300
)
classifier.fit(train_X, train_y)

AdaBoostClassifier(algorithm='SAMME.R',
                   base_estimator=DecisionTreeClassifier(class_weight=None,
                                                         criterion='gini',
                                                         max_depth=1,
                                                         max_features=None,
                                                         max_leaf_nodes=None,
                                                         min_impurity_decrease=0.0,
                                                         min_impurity_split=None,
                                                         min_samples_leaf=1,
                                                         min_samples_split=2,
                                                         min_weight_fraction_leaf=0.0,
                                                         presort=False,
                                                         random_state=None,
                                                         splitter='best'),
                   learning_rate=1.0, n_estimators=300, random_state=None)

In [82]:
predictions = classifier.predict(test_X)

In [83]:
confusion_matrix(test_y, predictions)

array([[113,  40],
       [ 31, 129]], dtype=int64)

In [84]:
accuracy=(113+129)/(113+129+40+31)
print(accuracy)

0.7731629392971247

In [88]:
importance=classifier.feature_importances_
cols=data_X.columns

In [90]:
print(list(zip(cols,importance)))

[('Age', 0.5566666666666666), ('no_employees', 0.07), ('remote_work', 0.006666666666666667), ('leave', 0.01), ('family_hist_cat', 0.01), ('self_employed_cat', 0.056666666666666664), ('tech_company_cat', 0.006666666666666667), ('benefits_cat', 0.03333333333333333), ('care_options_cat', 0.013333333333333334), ('wellness_program_cat', 0.013333333333333334), ('seek_help_cat', 0.023333333333333334), ('anonymity_cat', 0.02), ('mental_health_consequence_cat', 0.0033333333333333335), ('phys_health_consequence_cat', 0.0033333333333333335), ('coworkers_cat', 0.023333333333333334), ('supervisor_cat', 0.013333333333333334), ('mental_health_interview_cat', 0.016666666666666666), ('phys_health_interview_cat', 0.01), ('mental_vs_physical_cat', 0.013333333333333334), ('obs_consequence_cat', 0.0), ('work_interfere_cat', 0.08333333333333333), ('Gender_bin_cat', 0.013333333333333334)]